<div class="container">
  <p>Choose an option below.</p>
  <hr />
  <%= link_to 'View Items', department_items_path(@department) %>
  <br />
  <%= link_to 'Edit Department', edit_department_path(@department) %>
  <br />
  <%= link_to 'Back', root_path(@department) %>
  <br />
  <%= button_to 'Delete Department', @department, method: :delete %>
  
</div>