 <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Department Store</a>
      <ul class="right hide-on-med-and-down">
        <li><a>All Departments</a></li>
        <li><a>Location</a></li>
        <li><a>Hours</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <span class="nav-title">"Here When You Need It"</span>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
        <i class="material-icons">add</i>
      </a>
    </div>
  </nav>